# You don't have to set all of these at once.
# Defaults are in src/common/constants
REVOLT_BASE_URL=""
REVOLT_API_URL=""
REVOLT_JANUARY_URL=""
AUTUMN_URL=""
MONGO_URL=""
# Testing
testToken=""
# You generally shouldn't change settings below here
DISCORD_EPOCH=""
ENABLE_LOGGING=false